*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg, #011522, #6dd5fa, #ffffff, #1d053d);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI',sans-serif;
}

.login-container{
    background-color: rbga(255,255, 255, 0.1);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 8px  25px rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    animation: fadeIn 1s ease forwards;
    text-align: center;
    width: 320px;

}
.login-container h2{
    margin-bottom: 20px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}
.login-container input{
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: transform 0.2s, box-shadow 0.2s;
}
.login-container input:focus{
    transform: scale(1.03);
    box-shadow: 0 0 8px rgba(224, 255, 255, 0.6);
}
.login-container button{
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background-color: #2980b9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}
.login-container button:hover{
   background-color: #1c5980;
   transform: scale(1.05);
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes gardientBG{
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes fadeIn{
    from
    {
        opacity: 0;
        transform: translate(-20px);
    }
    to 
    {
        opacity: 1;
        transform: translate(0);
    }
}
    
